body{
    background-image:url("g.jpg");
    background-size: cover;
}

.h3{
    font-size:25px;
    width:100%;
    margin:0;
    box-shadow:5px 5px 5px rgb(182, 229, 224);
}

.sp{
    font-size:19px;
    color:black;

}

#foot{
position:fixed;
bottom:0;
width:100%;
text-align:center;
background-color: rgb(187, 187, 187);
color:black;
line-height:2; 
font-size:15px;   
}

canvas{
    border:5px black solid;
    border-radius:30px;
    box-shadow:5px 5px 5px rgb(215, 221, 136);
}